<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @membership.user_id %>
</p>

<p>
  <b>Beer club:</b>
  <%= @membership.beer_club_id %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
