<h1>Listing breweries</h1>
<p>
		Number of breweries: <%= @breweries.count %>
</p>

<table class="table table-hover">
		<thead>
				<th><%= link_to 'Name', breweries_path(:order => 'name') %></th>
				<th><%= link_to 'Year', breweries_path(:order => 'year') %></th>
				<th></th>
				<th></th>
				<th></th>
		</thead>

		<% @breweries.each do |brewery| %>
				<tr>
						<td><%= link_to brewery.name, brewery %></td>
						<td><%= brewery.year %></td>
						<td><%= link_to 'Show', brewery %></td>
				</tr>
		<% end %>
</table>

<br />

<%= link_to 'New Brewery', new_brewery_path %>
