<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery.name %>
</p>

<% if @beer.ratings.empty? %>
		<p>This beer has not been rated yet!</p>
<% else %>
		<p>This beer has <%= "#{ @beer.ratings.count } " + "rating".pluralize(@beer.ratings.count) %>  and an average result of <%= "#{ round(@beer.average_rating) }" %></p>
<% end %>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', beers_path %>
